.background {
    background : linear-gradient(90deg, rgba(144,144,152,0.165703781512605) 0%, rgba(0,212,255,0.36738445378151263) 100%), url("../images/Authentication/ecommerce.jpg");
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}

.background-2 {
    background : linear-gradient(90deg, rgba(144,144,152,0.165703781512605) 0%, rgba(0,212,255,0.36738445378151263) 100%), url("../images/Authentication/ecommerce-2.jpg");
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}

.background-3 {
    background : linear-gradient(90deg, rgba(144,144,152,0.165703781512605) 0%, rgba(0,212,255,0.36738445378151263) 100%), url("../images/Authentication/ecommerce-3.jpg");
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}
