
/*
@media screen and (max-width: 768px) and (min-width: 577px) {
  .signupCard {
    width: 80%;
  }
}

@media screen and (max-width: 576px) and (min-width: 401px) {
  .signupCard {
    width: 80%;
  }
}

@media screen and (max-width: 400) {
  .signupCard {
    width: 80%;
  }
}
*/



